.shopping-cart {
    cursor: pointer;
    padding: 0 7px;

    .material-icons {
        font-size: 27px;
        color: #ffad05;
        transition: .3s;

        &:hover {
            color: #bc7b05;
        }
    }
}

