.music-event-item {
    padding: 40px 0;
    text-align: left;
    color: #000;
    border-bottom: 1px solid #636363;

    &:first-child {
        padding-top: 15px;
    }

    .default-text {
        text-align: left;
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .event-item-title {
        font-size: 24px;
        margin-bottom: 5px;
        text-transform: uppercase;
        transition: .2s;

        a {
            color: inherit;
            outline: none;

            &:hover {
                cursor: pointer;
                color: #ffac04;
            }
        }
    }

    .event-item-date {
        font-size: 18px;
        margin-bottom: 15px;
    }
}