.nextEvents {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__list {
    width: 100%;

    .react-reveal:first-child {
      margin-bottom: 35px;
    }
  }
}
