.aside-cocktails {

    .ant-collapse > .ant-collapse-item > .ant-collapse-header  {
        font-size: 18px;
        color: #ffac04;
    }

    .ant-checkbox-group {
        display: flex;
        flex-direction: column;
    }

    .ant-checkbox-group-item:nth-child(n + 2) {
        margin-top: 10px;
    }
}

