.logOut-logIn {
    text-transform: uppercase;
    padding: 17px 15px;
    font-size: 16px;
    transition: .3s;
    border-bottom: 1px solid transparent;
    color: #ffad05;

    &:hover {
        border-bottom: 1px solid #ffad05;
        color: #bc7b05;
    }
}