@import "../../../../source/variables";

.randomCocktails {
  .col,
  .row {
    justify-content: center;
    min-height: 525px;
  }

  .col {
    display: flex;
    flex-direction: column;

    .cocktailItem__imgWrap {
      display: flex;
      flex-grow: 1;
    }
  }

  .col {
    @include sm-screen {
      width: 75%;
    }

    @include xs-screen {
      width: 100%;
    }
  }
}
