@import "src/src_/var";

.randomCocktails {

  .row {
    justify-content: center;
  }

  .col {
    @include sm-screen {
      width: 75%;
    }

    @include xs-screen {
      width: 100%;
    }
  }
}
