@import "../../../../source/variables";

.getInTouch {
  &__title {
    margin-bottom: 60px;
  }

  .col {
    @include md-screen {
      margin-bottom: 32px;
    }
  }

  &__contactItem {
    font-size: 16px;
    text-align: center;
    color: $secondary-color;

    span:first-child {
      color: $main-color;
    }

    svg {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-bottom: 30px;
    }
  }
}
