@import "../../../../source/variables";

.joinMailingList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  padding: 40px 30px;

  @include md-screen {
    flex-direction: column;
  }

  &__label {
    text-transform: uppercase;
    color: $main-color;
    font-size: 27px;

    @include md-screen {
      margin-bottom: 16px;
    }
  }

  input {
    width: 100%;
    font-size: 19px;
    padding: 5px 10px;
    border: 1px solid transparent;
  }

  .inputWrapper {
    position: relative;
    margin: 0 40px;
    width: 30%;

    @include lg-screen {
      width: 40%;
    }

    @include md-screen {
      width: 80%;
      margin-bottom: 32px;
    }

    @include sm-screen {
      width: 95%;
    }

    &::before {
      display: none;
      content: attr(data-message);
      position: absolute;
      top: 100%;
      left: 0;
      color: $main-color;
      font-size: 18px;
    }

    &.error {
      &::before {
        display: block;
      }

      input {
        border-color: red;
      }
    }
  }

  @include sm-screen {
    .rippleButton {
      min-width: 230px;
    }
  }
}
