.happy-hour {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95)), center / cover no-repeat url("https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpsh-ex-ftnikkei-3937bb4%2Fimages%2F2%2F6%2F8%2F9%2F16719862-1-eng-GB%2Fjapan%20whisky.jpg?source=nar-cms");

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    img.logo {
        height: 110px;
        width: auto;
        margin-bottom: 15px;
    }

    .section-title {
        color: #ffac04;
    }

    .section-sub-title {
        color: #d1d1d1;
    }
}

