.bartender-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover {

        img.bartender-item-img {
            box-shadow: 0 0 17px 2px #ffac04;
        }

        .name {
            color: #ffac04;
        }
    }

    $trans: .3s;
    img.bartender-item-img {
        margin-bottom: 20px;
        transition: $trans;
    }

    .name {
        text-transform: uppercase;
        font-size: 18px;
        color: #000;
        font-weight: 600;
        transition: $trans;
    }
}