@import "src/src_/var";

.eventCounter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  &__item {
    width: 23%;
    padding: 15px 10px;
    font-size: 26px;
    background-color: $secondary-color;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;

    &:hover {
      color: $secondary-color;
      background-color: $main-color;
    }

    &.active {
      background-color: $main-color;
    }

    span {
      text-transform: uppercase;
      font-weight: 600;
    }

    span:first-child {
      margin-bottom: 10px;
    }

    span:last-child {
      font-size: 16px;
    }
  }
}
