.blog-news {
    margin-bottom: 500px;

    .blog-news-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .blog-news-item-date {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .date {
            line-height: 1;
            font-size: 110px;
            font-weight: 600;
            color: #ffac04;
        }

        .month {
            line-height: 1;
            font-size: 50px;
            color: #000;
            text-transform: uppercase;
        }

        .theme {
            span {
                display: inline-block;
                vertical-align: middle;
                text-transform: uppercase;
            }
        }
    }
}