@import "../../../../../source/variables";

.blogNewsItem {
  & + .blogNewsItem {
    margin-top: 32px;
  }

  &:nth-child(even) .col.col-5:first-child {
    order: 1;

    @include md-screen {
      order: -1;
    }
  }

  &__info {
    display: flex;
    align-items: center;

    @include md-screen {
      margin-bottom: 32px;
    }

    @include sm-screen {
      flex-direction: column;

      .blogNewsItem__date {
        margin-bottom: 32px;
      }
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__dateDay {
    font-family: "Roboto", sans-serif;
    line-height: 1;
    font-size: 110px;
    color: $main-color;
  }

  &__dateMonth {
    line-height: 1;
    font-size: 50px;
    color: $secondary-color;
    text-transform: uppercase;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 35px;
    flex-grow: 1;
    width: 100%;
    min-width: 0;

    @include sm-screen {
      margin-left: 0;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    color: $secondary-color;
    margin-bottom: 5px;

    span {
      margin-left: 10px;
    }

    svg {
      display: block;
      width: 16px;
      height: 16px;
    }
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 5px;
    outline: none;
    transition: 0.3s;

    &:hover {
      color: $main-hover-color;
    }
  }

  .default-text {
    text-align: left;
    margin-bottom: 5px;

    @include sm-screen {
      text-align: justify;
    }
  }

  &__fullDate {
    display: flex;
    align-items: center;
    margin-top: 16px;

    span {
      font-size: 16px;
      color: $secondary-color;
    }

    span {
      line-height: 16px;
      margin-left: 10px;
      font-style: italic;
    }

    svg {
      display: block;
      width: 16px;
      height: 16px;
      color: $main-color;
    }
  }

  &__preview {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}
