.blogNewsItem {
  & + .blogNewsItem {
    margin-top: 32px;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__dateDay {
    font-family: "Roboto", sans-serif;
    line-height: 1;
    font-size: 110px;
    color: var(--main-color);
  }

  &__dateMonth {
    line-height: 1;
    font-size: 50px;
    color: #000;
    text-transform: uppercase;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 35px;
    flex-grow: 1;
  }

  &__author {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 5px;

    span {
      margin-left: 10px;
    }

    svg {
      display: block;
      width: 16px;
      height: 16px;
    }
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 5px;
    outline: none;
    transition: 0.3s;

    &:hover {
      color: var(--link-hover-color);
    }
  }

  .default-text {
    text-align: left;
    margin-bottom: 5px;
  }

  &__fullDate {
    display: flex;
    align-items: center;
    margin-top: 16px;

    span {
      font-size: 16px;
      color: #000;
    }

    span {
      line-height: 16px;
      margin-left: 10px;
      font-style: italic;
    }

    svg {
      display: block;
      width: 16px;
      height: 16px;
      color: var(--main-color);
    }
  }

  &__preview {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
