.cocktailItem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--secondary-color);
  transition: 0.3s;

  &:hover {
    color: var(--secondary-color);
  }

  &__imgWrap {
    position: relative;
    border-radius: 10px 10px 0 0;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }

    .semantic,
    .smallSpinner {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px 0;
    background-color: var(--main-color);
    border-radius: 0 0 10px 10px;
  }

  &__ingredients {
    padding: 16px;
    text-align: center;
    font-size: 18px;
    line-height: 1.4em;
    color: var(--secondary-color);
  }

  &__title {
    font-size: 22px;
    font-weight: 500;
    padding: 0 16px;
    margin-bottom: 16px;
    line-height: 1.2em;
    color: var(--secondary-color);
    text-align: center;
  }

  .ant-rate {
    text-align: center;
    padding: 0 16px 16px;
    border-bottom: 1px solid #fff;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: auto;
    padding: 0 16px;
    text-align: right;
    line-height: 1em;
    font-size: 25px;
  }
}
