.blog-details {

    .blog-main-img {
        margin-bottom: 20px;
    }

    .event-details-title {
        text-transform: uppercase;
        font-size: 28px;
        color: #ffac04;
        margin-bottom: 10px;
    }

    .default-text {
        text-align: left;
        margin: 0 0 20px 0;
    }

    .event-details-info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
            height: 16px;
            margin-right: 10px;
        }

        .author,
        .date {
            display: flex;
            align-items: center;
            font-size: 15px;
        }

        .author {
            margin-right: 50px;
        }

    }

    .share {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .share-title {
            font-size: 26px;
            text-transform: uppercase;
            margin-right: 20px;
        }
    }
}