@import "../../../node_modules/antd/dist/antd";
@import "../../src_/var.scss";
@import "../../src_/grid.scss";
@import "../../src_/common.scss";

main {
    padding-top: 65px;
}

a:focus {
    outline: none;
}