@import "../../../node_modules/antd/dist/antd";
@import "../../source/variables";
@import "../../source/grid";
@import "../../source/common";

main {
    padding-top: 65px;
}

a:focus {
    outline: none;
}
