@import "../../../node_modules/antd/dist/antd.css";

.app {

}

// Default classes
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding: 0 30px;
}

// Reset
a {
    color: #fff;

    &:hover {
        color: #fff;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Styles
header {
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.ant-page-header {
    $padding-top: 17px;
    $header-font-size: 16px;
    $header-text-color: #ffad05;
    $header-text-hover-color: #bc7b05;
    $header-transition: .3s;
    padding: 0 15px;

    .logo {
        display: block;
        height: 50px;
    }

    .ant-page-header-heading {
        display: none;
    }

    .ant-page-header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        line-height: 1;
    }

    .nav-wrapper ul {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: block;
            padding: $padding-top 20px;
            font-size: $header-font-size;
            transition: $header-transition;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;
            color: $header-text-color;

            &:hover {
                border-bottom: 1px solid $header-text-color;
                color: $header-text-hover-color;
            }
        }
    }

    .right-block {
        display: flex;
        justify-content: center;
        align-items: center;

        .shopping-cart,
        .wish-list {
            cursor: pointer;
            padding: 0 7px;

            .material-icons {
                font-size: 27px;
                color: $header-text-color;
                transition: $header-transition;

                &:hover {
                    color: $header-text-hover-color;
                }
            }
        }

        .logOut,
        .logIn {
            text-transform: uppercase;
            padding: $padding-top 15px;
            font-size: $header-font-size;
            transition: $header-transition;
            border-bottom: 1px solid transparent;
            color: $header-text-color;

            &:hover {
                border-bottom: 1px solid $header-text-color;
                color: $header-text-hover-color;
            }
        }
    }
}


.inner {
    width: 100%;
}

.ant-carousel .slick-slide {
    height: 100vh;

    div {
        width: 100%;
        height: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}








