.cocktailDetails {
  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 38px;
    line-height: 1em;
  }

  &__alcoholic {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    color: var(--main-color);
  }

  &__info {
    margin-bottom: 40px;
  }

  &__item {
    & + .cocktailDetails-info-item {
      margin-top: 20px;
    }

    border-bottom: 1px solid var(--main-color);
    padding: 0 15px 5px;

    .detailsTitle,
    .detailsInfo {
      font-size: 28px;
      font-weight: 400;
    }

    .detailsTitle {
      color: var(--secondary-color);
      font-weight: 500;
    }

    .detailsInfo {
      font-size: 24px;
      color: #3c3c3c;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    border: 1px solid #dddddd;

    .wishListBtn {
      margin-right: 16px;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      svg {
        display: block;
        width: 32px;
        height: 32px;
        color: var(--main-color);
      }
    }

    .price {
      flex-grow: 1;
      font-size: 50px;
      color: var(--main-color);
      margin-right: 50px;
      line-height: 1em;
    }

    .rippleButton:disabled {
      color: var(--main-color);
      background-color: var(--secondary-color);
    }
  }

  .reviewFormWrapper {
    margin: 40px auto 0;
    max-width: 700px;
  }
}
