.reviewFormWrapper {
  margin-top: 32px;
  padding: 16px;
  border-radius: 5px;
  background-color: #8080800d;
  //border: 1px solid #ffac04;

  &__title {
    margin-bottom: 32px;
    font-size: 24px;
    color: var(--secondary-color);
  }

  &__form {
    text-align: right;
    button {
      margin-top: 32px;
    }
  }

  textarea {
    resize: none;
  }
}
