.asidePostItem {
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  max-height: 80px;

  &:hover {
    cursor: pointer;
    background-color: #c8c8c845;
  }

  & + .asidePostItem {
    margin-top: 20px;
  }

  &__imgWrapper {
    display: flex;
    overflow: hidden;
    width: 35%;
  }

  &__img {
    display: block;
    width: 35%;
    max-width: 150px;
    object-fit: cover;
    margin-right: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 7px 0 7px 0;
  }

  &__title {
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 1.4em;
  }

  &__date {
    display: flex;
    align-items: center;
    margin-top: auto;
    font-size: 16px;
    color: var(--main-color);

    svg {
      display: block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      fill: var(--main-color);
    }
  }
}
