.aside-post-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;

    &:hover {
        cursor: pointer;
        background-color: #c8c8c845;
    }

    & + .aside-post-item {
        margin-top: 20px;
    }

    .post-img {
        margin-right: 15px;
    }

    .post-info {
        padding: 3px 0 3px 0;
    }

    .post-title {
        font-size: 16px;
        color: #000;
        line-height: 1.4em;
        margin-bottom: 9px;
    }

    .post-date {
        color: #ffac04;
        display: flex;
        align-items: center;

        img {
            height: 15px;
            margin-right: 10px;
        }
    }
}