@import "src/src_/var";

.userWishList {
  &__options {
    display: flex;
    align-items: center;
  }

  &__options {
    padding-bottom: 25px;
    border-bottom: 1px solid #d4d2d2;
    .labelText {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &__deleteBtn {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    color: $default-text-color;
    background-color: transparent;
    margin-left: 25px;
    font-size: 18px;

    &:disabled {
      opacity: 0.6;
    }

    svg {
      display: block;
      margin-right: 7px;
    }
  }

  &__select {
    max-width: 250px;
    flex-grow: 1;
    margin-left: auto;

    &.ant-select-open .ant-select-selection {
      border-color: $main-color;
      box-shadow: none;

      &:hover {
        border-color: $main-color;
      }
    }

    .ant-select-selection:hover {
      border-color: $main-color;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 0 45px;

    .col:nth-child(n + 5) {
      margin-top: 20px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
  }

  &__price {
    margin-right: 16px;
    font-size: 28px;
    font-weight: 500;
    color: $main-color;
  }
}
