@import "../../../../source/variables";

.pubGallery {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .col {
    padding: 0;

    @include md-screen {
      &.col-md-12:first-child {
        order: 1;
      }
    }
  }
}
