@import "src/src_/var";

.ourStory {
  background-color: #f1f1f1;
  text-align: center;

  .container {
    display: flex;
    justify-content: center;
  }

  @include sm-screen {
    .col.col-5:last-child {
      display: none;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 450px;
  }
}
