.happyHour {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.95)
    ),
    center / cover no-repeat url("../../../../src_/img/happy-hour-bg.jpg");


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    height: 110px;
    width: auto;
    margin-bottom: 15px;
  }

  .section-title {
    color: var(--main-color);
  }

  .section-sub-title {
    color: #d1d1d1;
  }
}
