$main-color: #ffac04;
$margin-bottom: 5px;

.blog-news-item {

    .blog-news-item-info {
        display: flex;
        align-items: center;
    }

    .blog-news-item-date {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-news-item-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 45px;
    }

    .main-date {
        font-family: 'Roboto', sans-serif;
        line-height: 1;
        font-size: 110px;
        color: $main-color;
    }

    .month {
        line-height: 1;
        font-size: 50px;
        color: #000;
        text-transform: uppercase;
    }

    .theme {
        display: flex;
        align-items: center;
        font-size: 18px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: $margin-bottom;

        span {
            margin-left: 10px;
        }
    }

    .title {
        font-size: 20px;
        text-transform: uppercase;
        color: $main-color;
        margin-bottom: $margin-bottom;
        outline: none;
    }

    .default-text {
        text-align: left;
        margin-bottom: $margin-bottom;
    }

    .date {
        i, span {
            font-size: 16px;
            color: #000;
            vertical-align: middle;
        }

        span {
            margin-left: 7px;
            font-style: italic;
        }
    }

    .blog-news-item-photo {
        img {
            max-height: 220px;
            width: 100%;
            object-fit: cover;
        }
    }
}