.eventDetails {
  .container {
    text-align: center;
  }

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  &__description {
    text-align: left;
    margin-bottom: 40px;
  }

  &__details {
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-size: 16px;
    text-transform: uppercase;

    svg {
      display: inline-block;
      margin-right: 10px;
      width: 16px;
      height: 16px;
      fill: var(--main-color);
    }

    & + .eventDetails__item {
      margin-top: 20px;
    }

    .socialNetworks {
      text-align: left;
    }
  }
}
