.aside-event-item {
    display: flex;
    transition: .3s;
    padding: 5px;
    outline: none;

    &:hover {
        background-color: #c8c8c845;
        cursor: pointer;
    }

    & + .aside-event-item {
        margin-top: 20px;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 90px;
        padding-right: 15px;
        border-right: 1px solid #3a3a3a;
    }

    .event-day {
        font-size: 34px;
        font-weight: 600;
        color: #ffac04;
    }

    .event-month-year {
        text-transform: uppercase;
        font-weight: 600;
        color: #000;
        font-size: 15px;
    }

    .right {
        padding-left: 15px;
    }

    .event-title {
        margin-bottom: 10px;
        color: #000;
        font-size: 16px;
    }

    .event-time {
        display: flex;
        align-items: center;
        color: #ffac04;
        text-transform: lowercase;

        i {
            margin-right: 10px;
        }
    }
}