.header {

    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .container-fluid {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: block;
        width: 55px;
    }



}