header {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .logo:hover {
        cursor: pointer;
    }

    .ant-page-header {
        $padding-top: 17px;
        $header-font-size: 16px;
        $header-text-color: #ffad05;
        $header-text-hover-color: #bc7b05;
        $header-transition: .3s;
        padding: 0 15px;

        .ant-page-header-heading {
            display: none;
        }

        .ant-page-header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            line-height: 1;
        }

        .right-block {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}