:root {
  --main-color: #ffad05;
  --main-hover-color: #a36d05;
  --default-text-color: #606060;
  --section-title-color: #000;
  --secondary-color: #000;
  --button-text-color: #fff;
  --link-hover-color: #ffd235;
}
