.leave-reviews {
    border: 1px solid #ffac04;
    border-radius: 5px;
    background-color: #8080800d;

    .leave-comments-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;

        .default-button {
            display: block;
            min-width: 180px;
        }
    }

    .leave-comments-title {
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .form-wrapper {
        padding: 30px 30px 25px;
        border-top: 1px solid #ffac04;
    }

    .form-wrapper.hide {
        display: none;
    }
}





.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
