.leave-reviews {
    border: 1px solid #ffac04;
    border-radius: 5px;
    background-color: #8080800d;
    transition: .2s;

    .leave-reviews-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;

        .default-button {
            display: block;
            min-width: 180px;
        }
    }

    .leave-reviews-title {
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .ant-form {
        padding: 30px 15px 25px;
        border-top: 1px solid #ffac04;
    }

    .form-enter {
        opacity: 0.01;
    }

    .form-enter.form-enter-active {
        opacity: 1;
        transition: opacity 300ms ease-in;
    }

    .form-exit {
        opacity: 1;
    }

    .form-exit.form-exit-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}