@import "../../../source/variables";

.authForm {
  text-align: center;
  .textInput {
    & + .textInput {
      margin-top: 20px;
    }
    &::before {
      display: none;
    }

    input {
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #d6d6d6;
    }

    &__error {
      left: 0;
      font-size: 12px;
      top: 100%;
    }

    &__togglePasswordView {
      top: calc(50% + 10px);
    }
  }

  &__options {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    justify-content: space-between;

    .forgotPassword {
      padding: 0;
      border: none;
      outline: none;
      background-color: transparent;
      color: $main-color;

      &:hover {
        text-decoration: underline;
      }
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: $main-color;
      border-color: $main-color;
    }

    .ant-checkbox-wrapper:hover .ant-checkbox-inner {
      border-color: $main-color;
    }

    .ant-checkbox-wrapper-checked:hover {
      .ant-checkbox-checked::after {
        border-color: $main-color;
      }
    }
  }

  .rippleButton {
    margin-top: 40px;
    width: 100%;
    text-transform: none;
    font-size: 18px;
  }

  &__signInBtn {
    font-size: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 16px;
    color: $main-color;
  }
}
