:root {
  --main-color: #ffad05;
  --main-hover-color: #a36d05;
  --default-text-color: #606060;
  --section-title-color: #000;
  --secondary-color: #000;
  --button-text-color: #fff;
  --link-hover-color: #ffd235;
}

// colors
$main-color: #ffad05;
$main-hover-color: #a36d05;
$default-text-color: #666565;
$section-title-color: #000;
$secondary-color: #000;
$button-text-color: #fff;
$link-hover-color: #ffd235;

@mixin lg-screen() {
  @media screen and (max-width: 1199px) {
    @content;
  }
}
@mixin md-screen() {
  @media screen and (max-width: 991px) {
    @content;
  }
}
@mixin sm-screen() {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin xs-screen() {
  @media screen and (max-width: 575px) {
    @content;
  }
}
@mixin xxs-screen() {
  @media screen and (max-width: 478px) {
    @content;
  }
}
