.aside-search-form {

    .aside-search-form-title {
            font-size: 36px;
            margin-bottom: 10px;
            color: #ffac04;
    }

    button {
        background-color: #ffac04;
        border-color: #ffac04;

        &:hover {
            background-color: #db9304;
            border-color: #ffac04;
        }
    }

    .ant-input:focus,
    .ant-input:hover {
        border-color: #ffac04;
        box-shadow: 0 0 0 2px rgba(255, 172, 4, 0.2);
    }
}

