.wish-list {
    display: flex;
    align-items: center;
    svg {
        display: block;
        width: 20px;
        height: 20px;
        color: var(--main-color);
        cursor: pointer;
    }
}
