@import "src/src_/var";

.aside-cocktails {
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    font-size: 18px;
    color: $main-color;
  }

  .ant-checkbox-group {
    display: flex;
    flex-direction: column;
  }

  .ant-checkbox-group-item:nth-child(n + 2) {
    margin-top: 10px;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $main-color;
    border-color: $main-color;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner {
    border-color: $main-color;
  }

  .ant-checkbox-wrapper-checked:hover {
    .ant-checkbox-checked::after {
      border-color: $main-color;
    }
  }
}
