.selectCocktails {
  width: 100%;
  &.ant-select-open .ant-select-selection {
    border-color: var(--main-color);
    box-shadow: none;

    &:hover {
      border-color: #ffac04;
    }
  }

  .ant-select-selection:hover {
    border-color: var(--main-color);
  }
}
