@import "src/src_/var";

.selectCocktails {
  width: 100%;
  &.ant-select-open .ant-select-selection {
    border-color: $main-color;
    box-shadow: none;

    &:hover {
      border-color: $main-color;
    }
  }

  .ant-select-selection:hover {
    border-color: $main-color;
  }
}
