@import "../../../../../source/variables";

.nextEventsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  color: #000;
  text-transform: uppercase;
  text-align: center;

  @include lg-screen {
    font-size: 18px;
  }

  @include md-screen {
    font-size: 16px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @include sm-screen {
    padding: 0 32px;
  }

  &:first-child {
    .nextEventsItem__info {
      background-color: $main-color;
      color: #fff;
    }
  }

  & + .nextEventsItem {
    margin-top: 35px;
  }

  &__info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;

    @include md-screen {
      width: 100%;
      margin-bottom: 32px;
    }

    @include sm-screen {
      flex-direction: column;
    }

    span {
      width: 33.3333%;

      @include sm-screen {
        width: 100%;
        border-bottom: 1px solid #fff;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  &__title {
    border-left: 1px solid $secondary-color;
    border-right: 1px solid $secondary-color;
    @include sm-screen {
      border: none;
    }
  }

  span,
  &__details {
    padding: 20px 25px;
  }

  &__details {
    background-color: $secondary-color;
    color: #fff;
    transition: 0.3s;

    @include md-screen {
      padding: 14px 60px;
      border-radius: 5px;
      border: 1px solid $main-color
    }

    &:hover {
      color: $main-color;
    }
  }
}
